
{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block body_content %}


    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
      </div>
    </header>

<section class="jumbotron text-center bg-white">
          <center>
 <a href="{% url 'students'  %}">
 <button style="height:80px; width: 400px" type="button" class="btn btn-sm btn-outline-secondary"><h3>Students list</h3></button></a>
 <a href="{% url 'subjects'  %}">
 <button style="height:80px; width: 400px" type="button" class="btn btn-sm btn-outline-secondary"><h3>Subjects list</h3></button></a>
 <a href="{% url 'teachers'  %}">
 <button style="height:80px; width: 400px" type="button" class="btn btn-sm btn-outline-secondary"><h3>Teachers list</h3></button></a>
</center>
</section>


       <center> <H1 class="jumbotron-heading">Books</H1> </center>

<p>&nbsp;</p>


     <div class="album py-5 bg-dark">

        <div class="container">
          <div class="row">
               {% for book in books %}


            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
 <strong> Book owner: </strong> <h3>{{ book.student.name  }} {{ book.student.surname  }}</h3>
                <div class="card-body">


                  <p class="card-text"> <strong> Student age: </strong> {{ book.student.age }} <br>
                      <strong> Student Email: </strong> {{ book.student.email }} <br>
                      <strong> Book id: </strong> {{ book.id }}  <br>
                      <strong> Book title: </strong> {{ book.title }}  <br> </p>


                    <div class="btn-group">
                      <a href="{% url 'delete_book' id=book.id %}">
                      <button type="button" class="btn btn-sm btn-outline-secondary" }> Delete </button></a>

                    </div>



                </div>
              </div>
            </div>
         {% endfor %}
          </div>
        </div>
      </div>
    </div>
    </main>

{% endblock %}